

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/sssstyle.css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="nav">
          <a href="../index.html" class="nav-logo">Arjun.</a>
          <div class="nav-links">
            <a href="" class="nav-link">Blogs</a>
            <a href="" class="nav-link">Contact</a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <section class="section-blogs">
        <div class="container">
          <h1 class="heading-primary">My Recent blogs &DownArrow;</h1>
        </div>
        <div class="container">
          <div class="blogs">
            <div class="blog-card">
              <div class="blog-card-text">
                <div class="blog-text-info">
                  <h4 class="blog-title">HTML</h4>
                  <p class="blog-subtitle">
                    The HyperText Markup Language, or HTML is the standard
                    markup language for documents designed to be displayed in a
                    web browser.
                  </p>
                  <span class="blog-date"> 1 March 2022 </span>
                </div>
                <div class="blog-link-info">
                  <a href="../templates/blog_details.html" class="blog-link"
                    >Read more about this blog. &nearr;</a
                  >
                </div>
              </div>
              <div class="blog-card-img">
                <img
                  src="../static/image/html_1.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="blog-card">
              <div class="blog-card-text">
                <div class="blog-text-info">
                  <h4 class="blog-title">CSS</h4>
                  <p class="blog-subtitle">
                    CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes..
                  </p>
                  <span class="blog-date"> 1 March 2022 </span>
                </div>
                <div class="blog-link-info">
                  <a href="./blog_detail.htm" class="blog-link"
                    >Read more about this blog. &nearr;</a
                  >
                </div>
              </div>
              <div class="blog-card-img">
                <img
                  src="../static/image/css_image.jpg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>    <--56-80-->

            <div class="blog-card">
              <div class="blog-card-text">
                <div class="blog-text-info">
                  <h4 class="blog-title">JS</h4>
                  <p class="blog-subtitle">
                    JavaScript is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else.
                  </p>
                  <span class="blog-date"> 1 March 2022 </span>
                </div>
                <div class="blog-link-info">
                  <a href="./blog_detail.html" class="blog-link"
                    >Read more about this blog. &nearr;</a
                  >
                </div>
              </div>
              <div class="blog-card-img">
                <img
                  src="../static/image/js_image.png"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
            <div class="blog-card">
              <div class="blog-card-text">
                <div class="blog-text-info">
                  <h4 class="blog-title">Python</h4>
                  <p class="blog-subtitle">
                    Python is a high level general-purpose programming language. It uses a multi-paradigm approach, meaning it supports procedural, object-oriented, and some functional programming constructs.
                  </p>
                  <span class="blog-date"> 1 March 2022 </span>
                </div>
                <div class="blog-link-info">
                  <a href="./blog_detail.html" class="blog-link"
                    >Read more about this blog. &nearr;</a
                  >
                </div>
              </div>
              <div class="blog-card-img">
                <img
                  src="../static/image/python_image.jpg"
                  alt=""
                  class="img-responsive"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="flex-row">
          <div class="column">
            <p class="nav-link">&copy; Arjun KC 2022</p>
          </div>
          <div class="column">
            <div class="social-links">
              <a href="#" class="nav-link">Facebook</a>
              <a href="#" class="nav-link">Linkedin</a>
              <a href="#" class="nav-link">Twitter</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
